@import "tailwindcss";
@import "./components/ResumeOverflow.css";

@theme{
  --color-primary: #137fec;
}

/* Hide scrollbars but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Ensure main app can occupy full viewport height for proper column scroll areas */
html, body, #root {
  height: 100%;
}

/* Ensure proper list styles for resume preview */
.resume-item-description ul {
  list-style-type: disc !important;
  /* padding: auto !important; */
  margin-left: 1rem;
}

.resume-item-description ol {
  list-style-type: decimal !important;
  /* padding: auto !important; */
  margin-left: 1rem;
}